body{
    background: #f1f5f9;


}
.wrapper{
    width: 300px ;
    text-align: center;
}

.changeColorBtn{
    width: 200px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background: #facc15;
    cursor: pointer;
   
}

.changeColorBtn:hover{
    background: #eab308;
}

.colorgrid{
    display: inline-block;
    width:20px;
    height:20px;
    border-radius: 2px;

}
.selectedColor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 20px;
}
.colorvalue{
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
}